.form-control {
    text-align:left;
    margin-bottom: 24px;
}
.form-control label{
    display: block;
}
body{
    background-color: white;
}
form {
    background-color: lightblue;
    max-width: 600px;
    margin:0 auto;
    padding: 30px;
}
.form-control input,
.form-control select,
.form-control textarea{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    width:95%;
}
